asgiref==3.11.0
certifi==2025.1.31
distlib==0.3.9
dj-database-url==3.0.1
Django==6.0
filelock==3.18.0
gunicorn==23.0.0
packaging==24.2
pipenv==2024.4.1
platformdirs==4.3.7
psycopg2-binary==2.9.11
setuptools==78.0.2
sqlparse==0.5.4
tzdata==2025.2
virtualenv==20.29.3
whitenoise==6.11.0
